######################
#    Directories     #
######################
/.idea/
######################


######################
#       Files        #
######################
/helicopterizer.iml
######################
